@font-face {
	font-family: "GothamRndB";
	src: url("../fonts/GothamRnd-Book.eot");
	src: local("☺"), url("../fonts/GothamRnd-Book.woff") format("woff"),
		url("../fonts/GothamRnd-Book.ttf") format("truetype"),
		url("../fonts/GothamRnd-Book.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "GothamRounded-Medium";
	src: url("../fonts/GothamRounded-Medium.eot");
	src: local("☺"),
		url("../fonts/GothamRounded-Medium.woff") format("woff"),
		url("../fonts/GothamRounded-Medium.ttf") format("truetype"),
		url("../fonts/GothamRounded-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "GothamRnd";
	src: url("../fonts/GothamRnd-Bold.eot");
	src: local("☺"), url("../fonts/GothamRnd-Bold.woff") format("woff"),
		url("../fonts/GothamRnd-Bold.ttf") format("truetype"),
		url("../fonts/GothamRnd-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}